<!DOCTYPE html>

<html lang="en">

	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">searchahouse.com</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
		<link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
		<link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet"/>
	</head>
	
	<body>
	
			<!-- header -->
			<div th:fragment="header">
			
				<div class="navbar-wrapper">
			      <div class="container">
			
			        <nav class="navbar navbar-inverse navbar-static-top">
			          <div class="container">
			            <div class="navbar-header">
			              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			              </button>
			              <a class="navbar-brand" href="/">searchahouse.com</a>
			            </div>
			            <div id="navbar" class="navbar-collapse collapse">
			              <ul class="nav navbar-nav">
			                <li class="active"><a href="/">Home</a></li>
			                <li><a href="http://getbootstrap.com/examples/carousel/#about">About</a></li>
			                <li><a href="http://getbootstrap.com/examples/carousel/#contact">Contact</a></li>
			                <li class="dropdown">
			                  <a href="http://getbootstrap.com/examples/carousel/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			                  <ul class="dropdown-menu">
			                    <li><a href="/agents">Agents</a></li>
			                    <li><a href="/properties">Properties</a></li>
			                    <li><a href="/locations">Locations</a></li>
			                  </ul>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </nav>
			
			      </div>
			    </div>
		    </div><!-- /.header -->
		
		<!-- javascript resources -->
		<script src="http://cdn.jsdelivr.net/angularjs/1.4.0/angular.min.js"  th:src="@{/webjars/angularjs/1.4.0/angular.min.js}"></script>
		<script src="http://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js" ></script>
		<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
	</body>
	
</html>