<div>

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				First featurette heading. <span class="text-muted">It'll blow your mind.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
				cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5"></div>
	</div>

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-body">
			<p>List of properties</p>
		</div>

		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="property in properties._embedded.propertyList">
					<th scope="row">{{ property.primaryKey }}</th>
					<td><a href="#/property/{{ property.primaryKey }}">{{ property.name }}, {{property.description}}</a></td>
					<td>{{ property.type }}</td>
				</tr>
			</tbody>

		</table>
	</div>

</div>