<!DOCTYPE html>

<html layout:decorator="layouts/basic_layout" lang="en">
	
	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Agent</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
		<link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
		<link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet"/>
		
		<!-- javascript resources -->
		<script src="http://cdn.jsdelivr.net/angularjs/1.4.0/angular.min.js"  th:src="@{/webjars/angularjs/1.4.0/angular.min.js}"></script>
		<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
		
	</head>
	
	<body>
	
	
		<div layout:fragment="content">
		
		<p th:text="${exception.message}" ></p>
			    
	    </div><!-- /.body - content -->
				
	</body>
	
</html>